知识研讨修复版/知识研讨其他版本/知识研讨过渡版/Conference/ConferenceModel/Service References/ConferenceMatrixWebservice/ConferenceMatrixWebservice.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="SetMatrixEntity">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="conferenceName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sharer" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="conferenceMatrixOutPut" type="tns:ConferenceMatrixOutPut" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:simpleType name="ConferenceMatrixOutPut">
        <s:restriction base="s:string">
          <s:enumeration value="OutPut1" />
          <s:enumeration value="OutPut2" />
        </s:restriction>
      </s:simpleType>
      <s:element name="SetMatrixEntityResponse">
        <s:complexType />
      </s:element>
      <s:element name="InToOneSeat">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="conferenceName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="seatList" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="selfName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="selfIP" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InToOneSeatResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InToOneSeatResult" type="tns:ArrayOfSeatEntity" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfSeatEntity">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="SeatEntity" nillable="true" type="tns:SeatEntity" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SeatEntity">
        <s:complexContent mixed="false">
          <s:extension base="tns:ConferenceMatrixBase">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="SettingIP" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="SettingNummber" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ConferenceMatrixBase" />
      <s:element name="LeaveOneSeat">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="conferenceName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="selfName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="selfIP" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LeaveOneSeatResponse">
        <s:complexType />
      </s:element>
      <s:element name="ArrayOfSeatEntity" nillable="true" type="tns:ArrayOfSeatEntity" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SetMatrixEntitySoapIn">
    <wsdl:part name="parameters" element="tns:SetMatrixEntity" />
  </wsdl:message>
  <wsdl:message name="SetMatrixEntitySoapOut">
    <wsdl:part name="parameters" element="tns:SetMatrixEntityResponse" />
  </wsdl:message>
  <wsdl:message name="InToOneSeatSoapIn">
    <wsdl:part name="parameters" element="tns:InToOneSeat" />
  </wsdl:message>
  <wsdl:message name="InToOneSeatSoapOut">
    <wsdl:part name="parameters" element="tns:InToOneSeatResponse" />
  </wsdl:message>
  <wsdl:message name="LeaveOneSeatSoapIn">
    <wsdl:part name="parameters" element="tns:LeaveOneSeat" />
  </wsdl:message>
  <wsdl:message name="LeaveOneSeatSoapOut">
    <wsdl:part name="parameters" element="tns:LeaveOneSeatResponse" />
  </wsdl:message>
  <wsdl:message name="SetMatrixEntityHttpGetIn">
    <wsdl:part name="conferenceName" type="s:string" />
    <wsdl:part name="sharer" type="s:string" />
    <wsdl:part name="conferenceMatrixOutPut" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SetMatrixEntityHttpGetOut" />
  <wsdl:message name="InToOneSeatHttpGetIn">
    <wsdl:part name="conferenceName" type="s:string" />
    <wsdl:part name="seatList" type="s:string" />
    <wsdl:part name="selfName" type="s:string" />
    <wsdl:part name="selfIP" type="s:string" />
  </wsdl:message>
  <wsdl:message name="InToOneSeatHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfSeatEntity" />
  </wsdl:message>
  <wsdl:message name="LeaveOneSeatHttpGetIn">
    <wsdl:part name="conferenceName" type="s:string" />
    <wsdl:part name="selfName" type="s:string" />
    <wsdl:part name="selfIP" type="s:string" />
  </wsdl:message>
  <wsdl:message name="LeaveOneSeatHttpGetOut" />
  <wsdl:message name="SetMatrixEntityHttpPostIn">
    <wsdl:part name="conferenceName" type="s:string" />
    <wsdl:part name="sharer" type="s:string" />
    <wsdl:part name="conferenceMatrixOutPut" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SetMatrixEntityHttpPostOut" />
  <wsdl:message name="InToOneSeatHttpPostIn">
    <wsdl:part name="conferenceName" type="s:string" />
    <wsdl:part name="seatList" type="s:string" />
    <wsdl:part name="selfName" type="s:string" />
    <wsdl:part name="selfIP" type="s:string" />
  </wsdl:message>
  <wsdl:message name="InToOneSeatHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfSeatEntity" />
  </wsdl:message>
  <wsdl:message name="LeaveOneSeatHttpPostIn">
    <wsdl:part name="conferenceName" type="s:string" />
    <wsdl:part name="selfName" type="s:string" />
    <wsdl:part name="selfIP" type="s:string" />
  </wsdl:message>
  <wsdl:message name="LeaveOneSeatHttpPostOut" />
  <wsdl:portType name="ConferenceMatrixWebserviceSoap">
    <wsdl:operation name="SetMatrixEntity">
      <wsdl:input message="tns:SetMatrixEntitySoapIn" />
      <wsdl:output message="tns:SetMatrixEntitySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InToOneSeat">
      <wsdl:input message="tns:InToOneSeatSoapIn" />
      <wsdl:output message="tns:InToOneSeatSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LeaveOneSeat">
      <wsdl:input message="tns:LeaveOneSeatSoapIn" />
      <wsdl:output message="tns:LeaveOneSeatSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ConferenceMatrixWebserviceHttpGet">
    <wsdl:operation name="SetMatrixEntity">
      <wsdl:input message="tns:SetMatrixEntityHttpGetIn" />
      <wsdl:output message="tns:SetMatrixEntityHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="InToOneSeat">
      <wsdl:input message="tns:InToOneSeatHttpGetIn" />
      <wsdl:output message="tns:InToOneSeatHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="LeaveOneSeat">
      <wsdl:input message="tns:LeaveOneSeatHttpGetIn" />
      <wsdl:output message="tns:LeaveOneSeatHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ConferenceMatrixWebserviceHttpPost">
    <wsdl:operation name="SetMatrixEntity">
      <wsdl:input message="tns:SetMatrixEntityHttpPostIn" />
      <wsdl:output message="tns:SetMatrixEntityHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="InToOneSeat">
      <wsdl:input message="tns:InToOneSeatHttpPostIn" />
      <wsdl:output message="tns:InToOneSeatHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="LeaveOneSeat">
      <wsdl:input message="tns:LeaveOneSeatHttpPostIn" />
      <wsdl:output message="tns:LeaveOneSeatHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ConferenceMatrixWebserviceSoap" type="tns:ConferenceMatrixWebserviceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SetMatrixEntity">
      <soap:operation soapAction="http://tempuri.org/SetMatrixEntity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InToOneSeat">
      <soap:operation soapAction="http://tempuri.org/InToOneSeat" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LeaveOneSeat">
      <soap:operation soapAction="http://tempuri.org/LeaveOneSeat" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ConferenceMatrixWebserviceSoap12" type="tns:ConferenceMatrixWebserviceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SetMatrixEntity">
      <soap12:operation soapAction="http://tempuri.org/SetMatrixEntity" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InToOneSeat">
      <soap12:operation soapAction="http://tempuri.org/InToOneSeat" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LeaveOneSeat">
      <soap12:operation soapAction="http://tempuri.org/LeaveOneSeat" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ConferenceMatrixWebserviceHttpGet" type="tns:ConferenceMatrixWebserviceHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="SetMatrixEntity">
      <http:operation location="/SetMatrixEntity" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="InToOneSeat">
      <http:operation location="/InToOneSeat" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LeaveOneSeat">
      <http:operation location="/LeaveOneSeat" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ConferenceMatrixWebserviceHttpPost" type="tns:ConferenceMatrixWebserviceHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="SetMatrixEntity">
      <http:operation location="/SetMatrixEntity" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="InToOneSeat">
      <http:operation location="/InToOneSeat" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LeaveOneSeat">
      <http:operation location="/LeaveOneSeat" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ConferenceMatrixWebservice">
    <wsdl:port name="ConferenceMatrixWebserviceSoap" binding="tns:ConferenceMatrixWebserviceSoap">
      <soap:address location="http://localhost:40964/ConferenceMatrixWebservice.asmx" />
    </wsdl:port>
    <wsdl:port name="ConferenceMatrixWebserviceSoap12" binding="tns:ConferenceMatrixWebserviceSoap12">
      <soap12:address location="http://localhost:40964/ConferenceMatrixWebservice.asmx" />
    </wsdl:port>
    <wsdl:port name="ConferenceMatrixWebserviceHttpGet" binding="tns:ConferenceMatrixWebserviceHttpGet">
      <http:address location="http://localhost:40964/ConferenceMatrixWebservice.asmx" />
    </wsdl:port>
    <wsdl:port name="ConferenceMatrixWebserviceHttpPost" binding="tns:ConferenceMatrixWebserviceHttpPost">
      <http:address location="http://localhost:40964/ConferenceMatrixWebservice.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>