知识研讨客户端更新/ConferenceVersionUpdate/Service References/ConferenceVersionWebservice/ConferenceVersionWebservice.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetUpDateFile">
        <s:complexType />
      </s:element>
      <s:element name="GetUpDateFileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUpDateFileResult" type="tns:ConferenceVersionUpdateEntity" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ConferenceVersionUpdateEntity">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="UpdateFile" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UpdateRootFile" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="NeedVersionUpdate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PC_Version" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="NeedVersionUpdateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="NeedVersionUpdateResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetUpDateFileSoapIn">
    <wsdl:part name="parameters" element="tns:GetUpDateFile" />
  </wsdl:message>
  <wsdl:message name="GetUpDateFileSoapOut">
    <wsdl:part name="parameters" element="tns:GetUpDateFileResponse" />
  </wsdl:message>
  <wsdl:message name="NeedVersionUpdateSoapIn">
    <wsdl:part name="parameters" element="tns:NeedVersionUpdate" />
  </wsdl:message>
  <wsdl:message name="NeedVersionUpdateSoapOut">
    <wsdl:part name="parameters" element="tns:NeedVersionUpdateResponse" />
  </wsdl:message>
  <wsdl:portType name="ConferenceVersionWebserviceSoap">
    <wsdl:operation name="GetUpDateFile">
      <wsdl:input message="tns:GetUpDateFileSoapIn" />
      <wsdl:output message="tns:GetUpDateFileSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="NeedVersionUpdate">
      <wsdl:input message="tns:NeedVersionUpdateSoapIn" />
      <wsdl:output message="tns:NeedVersionUpdateSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ConferenceVersionWebserviceSoap" type="tns:ConferenceVersionWebserviceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetUpDateFile">
      <soap:operation soapAction="http://tempuri.org/GetUpDateFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NeedVersionUpdate">
      <soap:operation soapAction="http://tempuri.org/NeedVersionUpdate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ConferenceVersionWebserviceSoap12" type="tns:ConferenceVersionWebserviceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetUpDateFile">
      <soap12:operation soapAction="http://tempuri.org/GetUpDateFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NeedVersionUpdate">
      <soap12:operation soapAction="http://tempuri.org/NeedVersionUpdate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ConferenceVersionWebservice">
    <wsdl:port name="ConferenceVersionWebserviceSoap" binding="tns:ConferenceVersionWebserviceSoap">
      <soap:address location="http://192.168.1.191:1888/ConferenceVersionWebservice.asmx" />
    </wsdl:port>
    <wsdl:port name="ConferenceVersionWebserviceSoap12" binding="tns:ConferenceVersionWebserviceSoap12">
      <soap12:address location="http://192.168.1.191:1888/ConferenceVersionWebservice.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>