知识研讨客户端服务/old version/ConferenceWebDebug/ConferenceWebModel/Service References/ConferenceInfoWebService/mex1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Revert">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="listName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="listItemId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RevertResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserlist">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserlistResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetUserlistResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRelation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="meetingname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="siteurl" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRelationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetRelationResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TestSharepoint">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoginName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="listItemId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TestSharepointResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TestSharepointResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDownLodeFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="weburl" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="document" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="siteurl" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="LoginName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDownLodeFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDownLodeFileResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FileUpload">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="WebUrl" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FileBytes" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="PFolderUrl" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="siteurl" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="LoginName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FileUploadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FileUploadResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrderInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="WebUrl" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="siteurl" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="StartTime" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="EndTime" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrderInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetOrderInfoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMeetInfoNow">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMeetInfoNowResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetMeetInfoNowResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMeetInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="weburl" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="document" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="siteurl" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="LoginName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMeetInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetMeetInfoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>